<div class="credits mx-auto text-center mb-3">
    <a class="hover-opacity font-weight-bold" asp-action="Index" asp-controller="Home">
        <img src="~/img/logo.png" alt="Logo">
    </a>
</div>
<ul class="p-0 mb-1 small">

    <li>
        <a asp-action="Index" asp-controller="Home" alt="Home">Home</a>
    </li>

    <li>
        <a asp-action="Privacy" asp-controller="Home" alt="Privacy Policy">Privacy Policy</a>
    </li>

    <li>
        <a asp-action="Contact" asp-controller="Home" alt="Contact">Contact</a>
    </li>

</ul>
<div class="copyright small">
    Copyright ©. All rights reserved.
</div>