<header class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsWow" aria-controls="navbarsWow" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
        <a class="navbar-brand" asp-action="Index" asp-controller="Home">
            <img src="~/img/logo.png" alt="Logo of Entertainment and Blog Platform">
        </a>
        @await Html.PartialAsync("_SocialMediaAccounts")
        <div class="collapse navbar-collapse" id="navbarsWow">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-action="Index" asp-controller="Home">Home</a>
                </li>
                @await Component.InvokeAsync("Menu")
                <li class="nav-item">
                    <a class="nav-link" asp-action="About" asp-controller="Home">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"asp-action="Contact" asp-controller="Home">Contact</a>
                </li>
                <partial name="/Views/Shared/_Search.cshtml" />
            </ul>
        </div>
    </div>
</header>
