<div class="col-md-6 mb-5">
    <!-- begin post -->

    <div class="card">
        <a href="https://wowthemesnet.github.io/affiliates-jekyll-theme/we-all-wait-for-summer/">
            <img class="rounded mb-4" src="~/img/1.jpg" alt="We all wait for summer">
        </a>
        <div class="card-block">
            <h2 class="card-title h4 serif-font"><a href="https://wowthemesnet.github.io/affiliates-jekyll-theme/we-all-wait-for-summer/">We all wait for summer</a></h2>
            <p class="card-text text-muted">This is changed. As I engage in the so-called “bull sessions” around and about the...</p>
            <div class="metafooter">
                <div class="wrapfooter small d-flex align-items-center">
                    <span class="author-meta">
                        By  <span class="post-name"> Sal, </span>
                        on <span class="post-date">12 Jan 2020</span>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- end post -->
</div>



<div class="col-md-6 mb-5">
    <!-- begin post -->

    <div class="card">
        <a href="https://wowthemesnet.github.io/affiliates-jekyll-theme/red-riding/">
            <img class="rounded mb-4" src="~/img/3.jpg" alt="Red Riding Hood">
        </a>
        <div class="card-block">
            <h2 class="card-title h4 serif-font"><a href="https://wowthemesnet.github.io/affiliates-jekyll-theme/red-riding/">Red Riding Hood</a></h2>
            <p class="card-text text-muted">The first mass-produced book to deviate from a rectilinear format, at least in the United...</p>
            <div class="metafooter">
                <div class="wrapfooter small d-flex align-items-center">
                    <span class="author-meta">
                        By  <span class="post-name"> Sal, </span>
                        on <span class="post-date">12 Jan 2020</span>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- end post -->
</div>



<div class="col-md-6 mb-5">
    <!-- begin post -->

    <div class="card">
        <a href="https://wowthemesnet.github.io/affiliates-jekyll-theme/powerful-things-markdown-editor/">
            <img class="rounded mb-4" src="~/img/4.jpg" alt="Powerful things you can do with the Markdown editor">
        </a>
        <div class="card-block">
            <h2 class="card-title h4 serif-font"><a href="https://wowthemesnet.github.io/affiliates-jekyll-theme/powerful-things-markdown-editor/">Powerful things you can do with the Markdown editor</a></h2>
            <p class="card-text text-muted">
                There are lots of powerful things you can do with the Markdown editor

            </p>
            <div class="metafooter">
                <div class="wrapfooter small d-flex align-items-center">
                    <span class="author-meta">
                        By  <span class="post-name"> Sal, </span>
                        on <span class="post-date">12 Jan 2020</span>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- end post -->
</div>



<div class="col-md-6 mb-5">
    <!-- begin post -->

    <div class="card">
        <a href="https://wowthemesnet.github.io/affiliates-jekyll-theme/markup-example/">
            <img class="rounded mb-4" src="~/img/6.jpg" alt="Markdown Example">
        </a>
        <div class="card-block">
            <h2 class="card-title h4 serif-font"><a href="https://wowthemesnet.github.io/affiliates-jekyll-theme/markup-example/">Markdown Example</a></h2>
            <p class="card-text text-muted">You’ll find this post in your _posts directory. Go ahead and edit it and re-build...</p>
            <div class="metafooter">
                <div class="wrapfooter small d-flex align-items-center">
                    <span class="author-meta">
                        By  <span class="post-name"> John, </span>
                        on <span class="post-date">11 Jan 2020</span>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- end post -->
</div>



<div class="col-md-6 mb-5">
    <!-- begin post -->

    <div class="card">
        <a href="https://wowthemesnet.github.io/affiliates-jekyll-theme/is-intelligence-enough/">
            <img class="rounded mb-4" src="~/img/5.jpg" alt="Is Intelligence Enough">
        </a>
        <div class="card-block">
            <h2 class="card-title h4 serif-font"><a href="https://wowthemesnet.github.io/affiliates-jekyll-theme/is-intelligence-enough/">Is Intelligence Enough</a></h2>
            <p class="card-text text-muted">Education must also train one for quick, resolute and effective thinking. To think incisively and...</p>
            <div class="metafooter">
                <div class="wrapfooter small d-flex align-items-center">
                    <span class="author-meta">
                        By  <span class="post-name"> Sal, </span>
                        on <span class="post-date">12 Jan 2019</span>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- end post -->
</div>



<div class="col-md-6 mb-5">
    <!-- begin post -->

    <div class="card">
        <a href="https://wowthemesnet.github.io/affiliates-jekyll-theme/tree-of-codes/">
            <img class="rounded mb-4" src="~/img/2.jpg" alt="Tree of Codes">
        </a>
        <div class="card-block">
            <h2 class="card-title h4 serif-font"><a href="https://wowthemesnet.github.io/affiliates-jekyll-theme/tree-of-codes/">Tree of Codes</a></h2>
            <p class="card-text text-muted">The first mass-produced book to deviate from a rectilinear format, at least in the United...</p>
            <div class="metafooter">
                <div class="wrapfooter small d-flex align-items-center">
                    <span class="author-meta">
                        By  <span class="post-name"> Sal, </span>
                        on <span class="post-date">12 Jan 2018</span>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- end post -->
</div>