<form class="d-flex" asp-controller="Home" asp-action="Index" method="get">
    <input class="form-control me-2" type="text" id="text" name="text" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>