@model List<CategoryListDTO>
@for (int i = 0; i < 2; i++)
{
    <li class="nav-item">
        <a class="nav-link" asp-action="GetPostsByCategory" asp-controller="Post" asp-route-id="@Model[i].Id">@Model[i].Name</a>
    </li>
}
@if (Model.Count > 2)
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
            @foreach (var categories in Model)
            {
                @if (categories.Id > 2)
                {
                    <a class="dropdown-item" asp-action="GetPostsByCategory" asp-controller="Post" asp-route-id="@categories.Id">@categories.Name</a>
                }
            }
        </div>
    </li>
}