@model LogInDTO
@{
    ViewData["Title"] = "Sign in";
}
<form asp-controller="Account" asp-action="LogIn" method="post">
    <br />@Html.AntiForgeryToken()
<h1 class="display-7">Sign in</h1>
    <div class="row mt-2">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input class="form-control" asp-for="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserName">Username</label>
                        <input class="form-control" asp-for="UserName"/>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>                    
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input class="form-control" asp-for="Password" type="password"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPasword">Confirm Password</label>
                        <input class="form-control" asp-for="ConfirmPasword" type="password"/>
                        <span asp-validation-for="ConfirmPasword" class="text-danger"></span>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" asp-for="RememberMe" />
                        <label class="form-check-label" asp-for="RememberMe">Remember me</label>
                        <span asp-validation-for="RememberMe" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block mt-4"> Sign in </button>
                    </div>
                        <blockquote>Your personal data is processed within the scope of the Clarification Text in the Privacy Policy. By clicking the "Login" button, you confirm that you have read and accepted the User Agreement and Cookie Policy.</blockquote>
                </div>
            </div>
        </div>
    </div>
</form>